@import "../../../../styles/mixins.scss";

:host {
    display: block;
    padding-bottom: 10px;
}

.app-view-row {
    border-radius: 5px;
    padding: 5px 10px;

    &__label {
        font-size: .8em;
        margin: 0;
    }

    &__value{
        margin: 0;
    }
}
