<div class="app-user-view">
    <mat-list>
        <mat-list-item>
          <h4 mat-line>Name:</h4>
          <p mat-line>{{ user.name }}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h4 mat-line>Login:</h4>
          <p mat-line>{{ user.login }}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h4 mat-line>Eamil:</h4>
          <p mat-line>{{ user.email }}</p>
        </mat-list-item>
    </mat-list>
</div>
