@import "../../../../styles/smart-grid.scss";

.app-user-management-dashboard {
    &__toolbar {
        @include col();
        @include size(24);
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;

        @include sm-block() {
            display: block;
        }

        button {
            margin-left: 15px;
        }

        &-last {
            padding-right: 15px;

            @include sm-block() {
                padding-top: 15px;
            }
        }

        &-filler {
            flex-grow: 1;
        }
    }

    &__row {
        @include row-flex();
    }

    &__entities {
        @include col();
        @include size-sm(24);
        @include size(6);
    }

    &__tools {
        @include col();
        @include size-sm(24);
        @include size(9);
    }

    &__profile-toolbar {
        text-align: right;
    }
}
