@import "../../../../styles/smart-grid.scss";
@import "../../../../styles/mixins.scss";

:host {
    flex-grow: 1;
}

.app-user-management-dashboard {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    &__toolbar {
        @include col();
        @include size(24);
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;

        @include sm-block() {
            display: block;
        }

        button {
            margin-left: 15px;
            padding-top: 5px;
            padding-bottom: 5px;

            mat-icon {
                @include mat-icon-size(32px);
            }
        }

        &-filler {
            flex-grow: 1;
        }
    }

    &__row {
        flex-grow: 1;
        @include row-flex();
    }

    &__entities {
        @include col();
        @include size-sm(24);
        @include size(6);
    }

    &__tools {
        box-shadow: 1px 1px 1px 1px;
        @include col();
        @include size-sm(24);
        @include size(9);
    }

    &__profile {
        &-wrapper {
            padding: 10px;
        }

        &-toolbar {
            text-align: right;

            &-menu {
                height: 24px;
                width: 24px;
                line-height: 26px;

                mat-icon {
                    @include mat-icon-size(19px);
                }
            }
        }
    }
}
