<div class="app-user-management-dashboard">
    <div class="app-user-management-dashboard__toolbar">
        <div class="app-user-management-dashboard__toolbar-first">
            <mat-menu #dashboardTools="matMenu">
                <button mat-menu-item (click)="openEditUserDialog(null)">Add user</button>
                <button mat-menu-item (click)="openEditGroupDialog(null)">Add group</button>
            </mat-menu>

            <button mat-raised-button [matMenuTriggerFor]="dashboardTools">
                <mat-icon color="accent">add</mat-icon>
                <span>Add</span>
            </button>

            <button mat-raised-button *ngIf="selectedEntity != null" (click)="editSelectedEntity()">
                <mat-icon color="accent">edit</mat-icon>
                <span>Edit</span>
            </button>

            <button mat-raised-button *ngIf="selectedEntity != null" (click)="deleteSelectedEntity()">
                <mat-icon color="accent">delete</mat-icon>
                <span>Delete</span>
            </button>
        </div>

        <span class="app-user-management-dashboard__toolbar-filler"></span>
    </div>
    <mat-divider></mat-divider>
    <div class="app-user-management-dashboard__row">
        <div class="app-user-management-dashboard__entities">
            <div class="app-user-management-dashboard__search-bar">
                <app-search-bar #entitySearch></app-search-bar>
            </div>
            <div class="app-user-management-dashboard__entities-changer">
                <app-entities-changer
                    [entities]="entityManagementDataSource.users | namedEntitySearch: entitySearch.searchString"
                    title="Local Users"
                    entityIcon="person_outline"
                    [selectedEntity]="selectedEntity"
                    (entityChanged)="entityChangeHandler($event)"
                ></app-entities-changer>
            </div>
            <div class="app-user-management-dashboard__entities-changer">
                <app-entities-changer
                    [entities]="entityManagementDataSource.groups | namedEntitySearch: entitySearch.searchString"
                    title="Local Groups"
                    entityIcon="account_box"
                    [selectedEntity]="selectedEntity"
                    (entityChanged)="entityChangeHandler($event)"
                ></app-entities-changer>
            </div>
        </div>
        <div class="app-user-management-dashboard__tools">
            <div *ngIf="hasSelectedEntity">
                <app-expansion-panel
                    *ngIf="isUserSelected"
                    [expanded]="viewExpansionPanelState"
                    title="User Profile"
                    (expandedChange)="viewExpansionPanelState = $event"
                >
                    <div class="app-user-management-dashboard__profile-wrapper">
                        <app-user-view [user]="selectedEntity"></app-user-view>
                    </div>
                </app-expansion-panel>
                <app-expansion-panel
                    *ngIf="isGroupSelected"
                    [expanded]="viewExpansionPanelState"
                    title="Group Profile"
                    (expandedChange)="viewExpansionPanelState = $event"
                >
                    <div class="app-user-management-dashboard__profile-wrapper">
                        <app-group-view [group]="selectedEntity"></app-group-view>
                    </div>
                </app-expansion-panel>
            </div>
            <div *ngIf="hasSelectedEntity">
                <app-expansion-panel [expanded]="permissionsExpansionPanelState" [title]="(isUserSelected ? 'User' : 'Group') + ' Permissions'">
                    <app-permissions-changer
                        [selectedPermissions]="selectedEntity.permissions"
                        [permissions]="entityManagementDataSource.permissions"
                        (permisssionsChanged)="permisssionChangeHandler($event)"
                    ></app-permissions-changer>
                </app-expansion-panel>
            </div>
            <div *ngIf="hasSelectedEntity && isUserSelected">
                <app-expansion-panel
                    [expanded]="effectivePermissionsExpansionPanelState"
                    title="Effective Permissions"
                    (expandedChange)="effectivePermissionsExpansionPanelState = $event"
                >
                    <app-permissions-changer
                        [selectedPermissions]="entityManagementDataSource.getUserActivePermissionIds(selectedEntity)"
                        [permissions]="entityManagementDataSource.permissions"
                        readonly="true"
                    ></app-permissions-changer>
                </app-expansion-panel>
            </div>
        </div>
        <div class="app-user-management-dashboard__tools">
            <div *ngIf="hasSelectedEntity && isUserSelected">
                <app-expansion-panel
                    [expanded]="groupsExpansionPanelState"
                    title="Group Membership"
                    (expandedChange)="groupsExpansionPanelState = $event"
                >
                    <app-search-bar #groupSearch></app-search-bar>
                    <mat-divider></mat-divider>
                    <app-groups-changer
                        [selectedGroups]="selectedEntity.groups"
                        [groups]="entityManagementDataSource.groups | namedEntitySearch: groupSearch.searchString"
                        (groupsChanged)="groupChangeHandler($event)"
                    ></app-groups-changer>
                </app-expansion-panel>
            </div>
        </div>
    </div>
</div>