<div class="app-user-management-dashboard">
    <div class="app-user-management-dashboard__toolbar">
        <mat-menu #dashboardTools="matMenu">
            <button mat-menu-item (click)="openEditUserDialog(null)">Add user</button>
            <button mat-menu-item (click)="openEditGroupDialog(null)">Add group</button>
        </mat-menu>

        <button mat-raised-button [matMenuTriggerFor]="dashboardTools">
            <mat-icon>add</mat-icon>
            <span>Add</span>
        </button>

        <button mat-raised-button *ngIf="selectedEntity != null" (click)="deleteSelectedEntity()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="app-user-management-dashboard__row">
        <div class="app-user-management-dashboard__entities">
            <app-entities-changer
                [entities]="entityManagmentDataSource.users"
                title="Local Users"
                entityIcon="person_outline"
                [selectedEntity]="selectedEntity"
                (entityChanged)="entityChangeHandler($event)"
            ></app-entities-changer>
            <app-entities-changer
                [entities]="entityManagmentDataSource.groups"
                title="Local Groups"
                entityIcon="account_box"
                [selectedEntity]="selectedEntity"
                (entityChanged)="entityChangeHandler($event)"
            ></app-entities-changer>
        </div>
        <div class="app-user-management-dashboard__tools">
            <mat-accordion *ngIf="hasSelectedEntity">
                <mat-expansion-panel *ngIf="isUserSelected" expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>User Profile</mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-user-view [user]="selectedEntity"></app-user-view>
                    <div class="app-user-management-dashboard__profile-toolbar">
                        <button mat-raised-button (click)="openEditUserDialog(selectedEntity)">Edit</button>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="isGroupSelected" expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Group Profile</mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-group-view [group]="selectedEntity"></app-group-view>
                    <div class="app-user-management-dashboard__profile-toolbar">
                        <button mat-raised-button (click)="openEditGroupDialog(selectedEntity)">Edit</button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion *ngIf="hasSelectedEntity">
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ isUserSelected ? 'User' : 'Group' }} Permissions</mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-permissions-changer
                        [selectedPermissions]="selectedEntity.permissions"
                        [permissions]="entityManagmentDataSource.permissions"
                        (permisssionsChanged)="permisssionChangeHandler($event)"
                    ></app-permissions-changer>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion *ngIf="hasSelectedEntity && isUserSelected">
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Effective Permissions</mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-permissions-changer
                        [selectedPermissions]="entityManagmentDataSource.getUserActivePermissionIds(selectedEntity)"
                        [permissions]="entityManagmentDataSource.permissions"
                        readonly="true"
                    ></app-permissions-changer>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="app-user-management-dashboard__tools">
            <mat-accordion *ngIf="hasSelectedEntity && isUserSelected">
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Group Membership</mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-groups-changer
                        [selectedGroups]="selectedEntity.groups"
                        [groups]="entityManagmentDataSource.groups"
                        (groupsChanged)="groupChangeHandler($event)"
                    ></app-groups-changer>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
