@import "~@angular/material/theming";
@import "app/core/core.theme.scss";
@import "app/shared/shared.theme.scss";
@import "styles/reset.scss";

@include mat-core();

$primary-palette: mat-palette($mat-green);
$accent-palette: mat-palette($mat-brown);
$warn-palette: mat-palette($mat-red);

$custom-theme: mat-dark-theme($primary-palette, $accent-palette, $warn-palette);

@include angular-material-theme($custom-theme);

@include app-core-module-theme($custom-theme);
@include app-shared-module-theme($custom-theme);
